<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Nopackage" >
        <packages>
            <package name="com.restassured.test"/>
            <package name="com.restassured.framework"/>
        </packages>
        <classes>
            <class name="com.restassured.test.GetTest" />
        </classes>
    </test>

</suite>
